Django==4.2.30
djangorestframework==3.15.2
psycopg2-binary==2.9.9
python-decouple==3.8
Pillow==12.2.0
celery==5.3.4
redis==5.0.1
drf-spectacular==0.26.5
django-filter==23.5
django-cors-headers==4.3.1
django-ratelimit==4.1.0
gunicorn==22.0.0
whitenoise==6.6.0
pytest==9.0.3
pytest-django==4.7.0
pytest-cov==4.1.0
black==26.3.1
isort==5.13.2
flake8==6.1.0
bandit==1.7.5
factory-boy==3.3.0
faker==20.1.0
python-dotenv==1.2.2
sentry-sdk==1.45.1
